*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

input,button{
    outline: none;
}

#menu-toggle{
    display: none;

}

#menu-toggle:checked~ .sidebar .brand h2{
    display: none;
}
#menu-toggle:checked~ .sidebar .brand {
    display: none;
}

#menu-toggle:checked~ .sidebar .side-img{
   height: 50px;
   width: 50px;
}

#menu-toggle:checked~ .sidebar .user{
    display: none;
 }

 #menu-toggle:checked~ .sidebar li a span:last-child{
    display: none;
 }

 #menu-toggle:checked~ .sidebar{
    width: 65px;
 }


 #menu-toggle:checked~ .main-content header{
    left: calc(65px + 1rem);
 }

 #menu-toggle:checked~ .main-content{
    margin-left: 65px;
 }

.sidebar{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    background-color: #0b1218;
    overflow-y: auto;
    transition: width 1s;
    
}

.brand{
    padding:0.5rem 1rem ;
    display: flex;
    color: orange;
    align-items: center;
    height: 70px;
}

.side-user{
    margin: 1.8rem 0rem;
}

.side-img{
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
    border: 2px solid #3e454d;
}

.user{
    text-align: center;
    color: white;
    margin-top: 0.5rem;
}

.user small{
    display: inline-block;
    color: orange;
}

.sidemenu{
    padding: 0.5rem;
   
   
}

.sidemenu li{
    margin-bottom: 0.9rem;
}

.sidemenu a{
    color: white;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.sidemenu a span:first-child{
    font-size: 1.3rem;
    padding: 0.6rem;
}

.sidemenu a i{
    padding: 10px;
    
}

.sidemenu span,i{
    font-size: 20px;
}

.sidemenu li:hover{
    background-color: orange;
}



.main-content{
    height: 100vh;
    overflow-y: auto;
    margin-left: 280px;
    
    background-color: #121d28;
    padding: 0.5rem 1rem;
    transition: margin-left 1s;
    
}

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0b1218;
    padding: 0rem 1rem;
    position: fixed;
    left: calc(280px + 1rem);
    right: 1rem;
    top: 0.5rem;
    border-radius: 3px;
    transition: left 1s;
    z-index: 10;
}

.menu-toggler{
    height: 50px;
    width: 50px;
    background-color: orange;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 10px;
}

.search{
    display: flex;
    width: 300px;
    border-radius: 30px;
    overflow-x: hidden;
    border: 3px solid #3e454d;
    align-items: center;
}

.search i{
    font-size: 1.3rem;
    color: white;
    padding-left: 1rem;
}

.search input{
    flex: 1;
    height: 45px;
    border: none;
    background: transparent;
    padding: 1rem;
    color: white;
}

.head-icons i{
    font-size: 1.3rem;
    margin-left: 1rem;
    color: white;
}

main{
    margin-top: calc(70px + 0.5rem);
    padding: 1rem 0rem;]
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.card{
    background-color: #0b1218;
    padding: 2rem 1rem;
    border-radius: 3px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 162, 255, 0.2); 
    z-index: 0;
   
}

.card-icon{
    text-align: center;
    display: grid;
    place-items: center;

}

.card-icon i{
    height: 50px;
    width: 50px;
    color: white;
    font-size: 2.5rem;
    border-radius: 6px;
    display: grid;
    place-items: center;
}

.followers i{
    color:blue;
    background-color: aliceblue;
}

.likes i{
    color: red;
    background-color: aliceblue;
}

.comments i{
    color:rgb(216, 216, 7);
    background-color: aliceblue;
}

.card-info{
    text-align: center;
    margin-top: 0.6rem;
}

.card-info h2{
    font-size: 2rem;
    color: aliceblue;
}

.card-info small{
    display: inline-block;
    color: orange;
    font-weight: 500;
}

.card-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
}

.card-images div{
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid aliceblue;
    position: relative;
    margin-left: -15px;
}

.chart-grid{
    display: grid;
    grid-template-columns: 64% auto;
    margin-top: 3rem;
    gap: 2.5rem;
}

.chart-follow,.chart-sales{
    background-color: #0b1218;
    padding: 1rem;
    border-radius: 3px;
}

.chart-follow:hover {
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 162, 255, 0.2);  
   
}
.chart-sales:hover {
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 162, 255, 0.2);  
    
}

.chart-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    padding-bottom: 1rem;
    border-bottom: solid #303439;
    margin-bottom: 1rem;
}

.close-mobile-menu{
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: calc(100% - 280px);
    background: transparent;
    z-index: 100;
    transition: right 1s;
}

@media only screen and (max-width:1124px){
        
    
    #menu-toggle~ .sidebar .brand h2{
        display: none;
    }

    #menu-toggle~ .sidebar .side-img{
    height: 40px;
    width: 40px;
    }

    #menu-toggle~ .sidebar .user{
        display: none;
    }

    #menu-toggle~ .sidebar li a span:last-child{
        display: none;
    }

    #menu-toggle~ .sidebar{
        width: 65px;
    }

    #menu-toggle~ .main-content header{
        left: calc(65px + 1rem);
    }

    #menu-toggle~ .main-content{
        margin-left: 65px;
    }


    #menu-toggle:checked~ .sidebar .brand h2{
        display: block;
    }

    #menu-toggle:checked~ .sidebar .side-img{
    height: 120px;
    width: 120px;
    }

    #menu-toggle:checked~ .sidebar .user{
        display: block;
    }

    #menu-toggle:checked~ .sidebar li a span:last-child{
        display: inline-block;
    }

    #menu-toggle:checked~ .sidebar{
        width: 280px;
        z-index: 100;
    }


    #menu-toggle:checked~ .close-mobile-menu{
      right: 0;
    }

}

@media only screen and (max-width:845px){
    .cards{
        grid-template-columns: repeat(2,1fr);
    }

    .chart-grid{
        grid-template-columns: 100%;
    }
}


@media only screen and (max-width:768px){
    .search{
        display: none;
    }
}

@media only screen and (max-width:630px){
    .cards{
        grid-template-columns: 100%;
    }
}



